/* Reset styles for consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}


/* Style for the header and navigation menu */
header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a.active,
nav ul li a:hover {
  color: #f7df1e;
}

/* Style for the menu section */
#menu {
  background-color: #f7df1e;
  padding: 50px;
  text-align: center;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-item {
  width: 300px;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  text-align: left;
}

.menu-item img {
  width: 100%;
}

.menu-item h3 {
  margin-top: 10px;
  font-size: 24px;
}

.menu-item p {
  font-size: 16px;
  margin: 10px 0;
}

.menu-item p.price {
  font-weight: bold;
  font-size: 20px;
  color: #f7df1e;
  margin-top: 20px;
}